.main {
    height: 100%;
}

.leftSide {
    height: 100%;
    background: pink; 
    float: left; 
    width: 25%;
}

.level {
    height: 20%;
    background: blue; 
    margin: 0px;
}

.vitals {
    height: 60%; 
    background: lightgreen;
    margin: 0px;
}

.userToolbar {
    height: 20%; 
    background: pink
}

.zdog {
    background: green;
    height: 90%;
    float: left;
    width: 45%;
    margin-top: 25px;
}

.rightSide{
    height: 90%;
    float: right;
    width: 30%;
    background: lightpink;
    margin-top: 25px;
}

.control {
    float: left; 
    width: 48%;
    height: 32%;
    margin: 1%;
    background: red
}

.label {
    margin: 0px;
}

.icon {
    background: goldenrod;
    height: 80%; 
    margin-top: 10px; 
    margin: 10px;
    float: left;
    width: 30%;

}
